
    body{
        margin: 0; padding: 0;
        background-color: black;
        color: white; 
    }

    #modalWrapper{
        position: fixed;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.94);

        display: inline-block;
    }

    #modalDialog{
    position: absolute;
    top: 10%;
    left: 50%;
    width: 500px;
    height: 500px;
    padding: 0;
    margin: 0 -250px;
    }

    #modalDialog form{
    width: 100%;
    margin: 0 auto;
    }

    #modalDialog form div{
    height: auto;
    width: 100%;
    margin: 2px 0;
    line-height: 30px;
    text-indent: 4px;
    display: inline-block;
    }

    #modalDialog form div input{
    float: right;
    height: 20px;
    width: 170px;
    margin: 2px 2px 0 0;
    }

    #modalDialog form div textarea{
        float: right;
        width: 170px;
        margin: 2px 2px 0 0;
    }
    
    #SetLanguageForm{
        text-align: right;
    }
    
    table.userInfo{
       width: 350px;
       float: left;
       border-top: 1px solid silver;
       border-bottom: 1px solid silver;
    }
    
    table.userInfo tr td:first-child{
       width: 100px;
    }
    
    .avatar_wrapper{
        width: 150px;
        height: 112px;
        float: left;
        line-height: 112px;
        text-align: center;
    }
    
    .avatar{
        max-width: 150px;
        max-height: 112px;
        vertical-align: middle;
    }
    
    .personalInfo{
        width: 100%;
        padding: 10px;
        display: inline-block;
        box-sizing: border-box;
        text-align: justify;
    }

    .validationError{
        color: rgb(199, 193, 0);
        font-size: 9pt;
    }
    .errorContainer{
        background: rgba(241, 186, 186, 0.52);
    }

    table.errorsTable{
        width: 100%;
    }

    table.errorsTable td:first-child{
        background: cadetblue;
    }

    table.errorsTable td{
        background: rgba(241, 186, 186, 0.52);
        text-indent: 2px;
    }

    
    